
ul{
    margin: 0 auto;
    padding: 0;
}

/* The wider this li is, the fewer columns there will be */
  ul.multiple_columns li{
        text-align: left;
        float: left;
        list-style: none;
        height: 280px;
        width: 200px;
    }

#photofeed {
    width: 612px; 
}


a {outline: none; }
